<div style="background-color: whitesmoke;">
    <h2 class="HeadingStyle">TECHNICAL EVENTS</h2>
    <div class="col-md-12 row" style="padding-left: 20px; padding-bottom: 15px; padding-right: 15px;">
        <div class="card col-md-3 textStyle">
            <h4>Competetive Programming</h4>
            <img [src]=image alt="image" width="300px" height="200px">
            <br>
            <button type="submit"  mat-stroked-button color="accent" style="width: 100%;font-size: x-large;">Join !</button>
            <br>
        </div>
        <div class=" card col-md-3 textStyle">
            <h4> Artificial Intelligence</h4>
            <img [src]=image1 alt="image" width="300px" height="200px">
            <br>
            <button type="submit"  mat-stroked-button color="accent" style="width: 100%;font-size: x-large;">Join !</button>
            <br>
        </div>
        <div class=" card col-md-3 textStyle">
            <h4>Data Science</h4>
            <img [src]=image2 alt="image" width="300px" height="200px">
            <br>
            <button type="submit"  mat-stroked-button color="accent" style="width: 100%;font-size: x-large;">Join !</button>
            <br>
        </div>
        <div class=" card col-md-3 textStyle">
            <h4>Web Development</h4>
            <img [src]=image3 alt="image" width="300px" height="200px">
            <br>
            <button type="submit"  mat-stroked-button color="accent" style="width: 100%;font-size: x-large;">Join !</button>
            <br>
        </div>
    </div>
    <div class="col-md-12 row" style="padding-left: 20px; padding-bottom: 15px; padding-right: 15px;">
    
        <div class=" card col-md-3 textStyle">
            <h4>Hacking</h4>
            <img [src]=image4 alt="image" width="300px" height="200px">
            <br>
            <button type="submit"  mat-stroked-button color="accent" style="width: 100%;font-size: x-large;">Join !</button>
            <br>
        </div>
        <div class=" card col-md-3 textStyle">
            <h4>Networking</h4>
            <img [src]=image5 alt="image" width="300px" height="200px">
            <br>
            <button type="submit"  mat-stroked-button color="accent" style="width: 100%;font-size: x-large;">Join !</button>
            <br>
        </div>
        <div class=" card col-md-3 textStyle">
            <h4> Android</h4>
            <img [src]=image6 alt="image" width="300px" height="200px">
            <br>
            <button type="submit"  mat-stroked-button color="accent" style="width: 100%;font-size: x-large;">Join !</button>
            <br>
        </div>
    </div>
    <h2 class="HeadingStyle">NON TECHNICAL EVENTS</h2>
    <div class="col-md-12 row" style="padding-left: 20px; padding-bottom: 15px; padding-right: 15px;">
        <div class=" card col-md-3 textStyle">
            <h4>  Workshops and lectures on Photoshop</h4>
            <img [src]=image7 alt="image" width="300px" height="200px">
            <br>
            <button type="submit"  mat-stroked-button color="accent" style="width: 100%;font-size: x-large;">Join !</button>
            <br>
        </div>
        <div class=" card col-md-3 textStyle">
            <h4>  Dance Competitions</h4>
            <img [src]=image8 alt="image" width="300px" height="200px">
            <br>
            <button type="submit"  mat-stroked-button color="accent" style="width: 100%;font-size: x-large;">Join !</button>
            <br>
        </div>
        <div class=" card col-md-3 textStyle">
            <h4>  Sports and Games</h4>
            <img [src]=image9 alt="image" width="300px" height="200px">
            <br>
            <button type="submit"  mat-stroked-button color="accent" style="width: 100%;font-size: x-large;">Join !</button>
            <br>
        </div>
        <div class=" card col-md-3 textStyle">
            <h4> Drama and Plays</h4>
            <img [src]=image10 alt="image" width="300px" height="200px">
            <br>
            <button type="submit"  mat-stroked-button color="accent" style="width: 100%;font-size: x-large;">Join !</button>
            <br>
        </div>
    </div>
    <div class="col-md-12 row" style="padding-left: 20px; padding-bottom: 15px; padding-right: 15px;">
        <div class=" card col-md-3 textStyle">
            <h4>  Art and craft competition</h4>
            <img [src]=image11 alt="image" width="300px" height="200px">
            <br>
            <button type="submit"  mat-stroked-button color="accent" style="width: 100%;font-size: x-large;">Join !</button>
            <br>
        </div>
        <div class=" card col-md-3 textStyle">
            <h4> Literature Competitions</h4>
            <img [src]=image12 alt="image" width="300px" height="200px">
            <br>
            <button type="submit"  mat-stroked-button color="accent" style="width: 100%;font-size: x-large;">Join !</button>
            <br>
        </div>
        <div class=" card col-md-3 textStyle">
            <h4> Music Competitions</h4>
            <img [src]=image13 alt="image" width="300px" height="200px">
            <br>
            <button type="submit"  mat-stroked-button color="accent" style="width: 100%;font-size: x-large;">Join !</button>
            <br>
        </div>
    </div>
    <br>
</div>