.predef {
    
    color: black;
    padding: 1em 1.5em;
    text-decoration: none;
    cursor: pointer;
    border-radius: 8px;
    font-weight: bold;
    font-size: larger;
  }
  .predef1 {
    font-size: xx-large;
    color: white;
    color: black;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
  }